<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.order.provider.mapper.order.BusiSubjectsDtlMapper">

    <select id="queryBusiSubjectsDtl" resultType="com.youming.youche.order.domain.order.BusiSubjectsDtl">
        select * from busi_subjects_dtl where business_id = #{businessId} and subjects_id = #{subjectsId} order by sort_id asc
    </select>
</mapper>
