<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.market.provider.mapper.facilitator.SysStaticDataMapper">

    <select id="getSysStaticDataCodeName" resultType="com.youming.youche.market.domain.facilitator.SysStaticData">
        select * from sys_static_data where code_type = #{codeType} and code_value = #{codeValue} limit 0,1
    </select>

    <select id="getSysStaticDataListByCodeName" resultType="com.youming.youche.market.domain.facilitator.SysStaticData">
        select * from sys_static_data where code_type = #{codeType}
    </select>
</mapper>
