<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.finance.provider.mapper.order.OrderBillCheckInfoMapper">

    <select id="queryAllRecordByBillNumberAndTenantId"
            resultType="com.youming.youche.finance.domain.order.OrderBillCheckInfo">
        SELECT
            id AS id,
            bill_number AS billNumber,
            check_fee AS checkFee,
            check_desc AS checkDesc,
            check_type AS checkType,
            file_ids AS fileIds,
            file_urls AS fileUrls,
            creator_id AS creatorId,
            create_time AS createTime,
            oper_id AS operId,
            oper_date AS operDate,
            tenant_id AS tenantId
        FROM
            order_bill_check_info
        WHERE
            bill_number = #{billNumber}
            AND tenant_id = #{tenantId}
    </select>

    <delete id="deleteCheckInfoByBillNumberAndTenantId">
        DELETE FROM order_bill_check_info WHERE bill_number = #{billNumber} AND TENANT_ID =#{tenantId}
    </delete>

    <insert id="insertChechInfo">
        INSERT INTO order_bill_check_info ( BILL_NUMBER, CHECK_FEE, CHECK_DESC, CHECK_TYPE,
        FILE_IDS, FILE_URLS, CREATOR_ID, CREATE_TIME, OPER_ID, OPER_DATE, TENANT_ID )
        VALUES
            (#{orderBillCheckInfo.billNumber},#{orderBillCheckInfo.checkFee},#{orderBillCheckInfo.checkDesc}
            ,#{orderBillCheckInfo.checkType},#{orderBillCheckInfo.fileIds},#{orderBillCheckInfo.fileUrls}
            ,#{orderBillCheckInfo.creatorId},#{orderBillCheckInfo.createTime},#{orderBillCheckInfo.operId}
            ,#{orderBillCheckInfo.operDate},#{orderBillCheckInfo.tenantId})
    </insert>

</mapper>