<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.record.provider.mapper.trailer.TenantTrailerRelVerMapper">
    <sql id="TenantTrailerRelVerListData">
            `id`,
            `rel_id`,
            `trailer_number`,
            `create_date`,
            `state`,
            `op_id`,
            `tenant_id`,
            `price`,
            `type_fee`,
            `insurance_fee`,
            `exam_vehicle_fee`,
            `maintain_fee`,
            `repair_fee`,
            `other_fee`,
            `purchase_date`,
            `depreaciated_month`,
            `prev_maintain_time`,
            `insurance_time`,
            `seasonal_verl_time`,
            `annual_veri_time`,
            `insurance_code`,
            `maintain_dis`,
            `maintain_warn_dis`,
            `attached_root_org_id`,
            `trailer_owner_ship`,
            `attached_root_org_two_id`,
            `attached_man_id`,
            `attached_man`,
            `remark`,
            `loan_interest`,
            `interest_periods`,
            `pay_interest_periods`,
            `update_date`,
            `update_op_id`,
            `is_autit`,
            `residual`,
            `annual_veri_expired_time`,
            `seasonal_veri_expired_time`,
            `insurance_expired_time`,
            `business_insurance_time`,
            `business_insurance_expired_time`,
            `business_insurance_code`,
            `other_insurance_time`,
            `other_insurance_expired_time`,
            `other_insurance_code`,
            `delete_flag`,
            `create_time`,
            `update_time`,
            `trailer_Id`
    </sql>
    <!--查询挂车车队历史信息-->
    <select id="getTenantTrailerRelVerList" resultType="com.youming.youche.record.domain.trailer.TenantTrailerRelVer">
        select <include refid="TenantTrailerRelVerListData"></include> from tenant_trailer_rel_ver where trailer_id = #{trailerId} and tenant_id = #{tenantId} and  is_autit = #{isAutit}    ORDER BY id DESC
    </select>

    <!--统计线路编码-->
    <select id="getTrailerLineRelVerStr" resultType="java.lang.String">
        select  group_concat(line_code_rule) from trailer_line_rel_ver where trailer_id = #{trailerId}  AND VER_STATE = 0 order by line_id desc
    </select>

    <!--修改状态为取消-->
    <update id="updtTrailerRelVerAuditStatus">
        update tenant_trailer_rel_ver set is_autit = #{newStatus} where trailer_id = #{trailerId} and is_autit = #{oldStatus} and tenant_id = #{tenantId}
    </update>
</mapper>
