<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.record.provider.mapper.etc.EtcMaintainMapper">

    <!--根据车辆Id查询ETC信息-->
    <select id="queryEtcMaintainByVehicleCode" resultType="com.youming.youche.record.domain.etc.EtcMaintain">
      select * from etc_maintain where STATE = 1 and VEHICLE_CODE = #{vehicleCode} and TENANT_ID = #{teantId}
    </select>

</mapper>
