<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.record.provider.mapper.violation.ViolationQuotationMapper">

    <select id="getViolationQuotationCount" resultType="java.lang.Long">
        SELECT
            COUNT( QUOTATION_ID )
        FROM
            violation_quotation
        WHERE
            SERVICE_USER_ID != #{serviceId}
            AND RECORD_ID = #{recordId}
    </select>

    <select id="selectOneByRecordId" resultType="com.youming.youche.record.domain.violation.ViolationQuotation">
        SELECT
            *
        FROM
            violation_quotation
        WHERE
            RECORD_ID = #{recordId}
    </select>

</mapper>