<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.finance.provider.mapper.ac.CmSalaryTemplateMapper">

    <select id="getCmSalaryTemplate" resultType="com.youming.youche.finance.domain.ac.CmSalaryTemplate">
        SELECT * FROM cm_salary_template where tenant_id = #{tenantId} and state = 1 order by create_time desc limit 1
    </select>

    <select id="getDefaultCmSalaryTemplate" resultType="com.youming.youche.finance.domain.ac.CmSalaryTemplate">
        SELECT * FROM cm_salary_template where tenant_id = -1 and state = 1 limit 1
    </select>
</mapper>
