<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.system.provider.mapper.audit.AuditSettingMapper">


    <select id="getAuditNodeConfigList" resultType="com.youming.youche.system.domain.audit.AuditNodeOut">
        select
        ac.id as auditId,
        ac.audit_code as auditCode,
        anc.PARENT_NODE_ID as parentNodeId,
        anc.Id as nodeId
        from audit_config ac inner join audit_node_config anc on ac.id = anc.audit_id
        where ac.audit_code in (${auditCodes})
        and anc.tenant_id = #{tenantId}
        and ac.busi_type = #{type}
        and ac.id != 14
    </select>

    <select id="getUserFromAuditUser" resultType="java.lang.Long">
        select target_obj_id
        from audit_user
        where  node_id = #{nodeId}
        and  target_obj_type = #{targetObjType}
    </select>


    <update id="updateAuditInstToFinish">
        update audit_node_inst set status=0 where  audit_Id=#{auditId} and busi_Id=#{busiId} and status=1
    </update>

    <update id="rollbackOriginator">
        update audit_node_config set flag = #{flag} where tenant_id = #{tenantId} and audit_id = #{auditId}
    </update>

</mapper>
