<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youming.youche.table.provider.mapper.statistic.StatementCustomerDayMapper">
    <!--客户日报汇总查询-->
    <select id="dailySummary" resultType="com.youming.youche.table.dto.statistic.StatementDepartmentDto">
        select ifnull(sum(scd.own_income), 0) ownIncome,
        ifnull(sum(scd.own_cost), 0) ownCost,
        ifnull(sum(scd.own_gross_margin), 0) ownGrossMargin,
        ifnull(sum(scd.diversion_income), 0) diversionIncome,
        ifnull(sum(scd.diversion_cost), 0) diversionCost,
        ifnull(sum(scd.diversion_gross_margin), 0) diversionGrossMargin,
        ifnull(sum(scd.merchants_income), 0) merchantsIncome,
        ifnull(sum(scd.merchants_cost), 0) merchantsCost,
        ifnull(sum(scd.merchants_gross_margin), 0) merchantsGrossMargin,
        ifnull(sum(scd.own_income + scd.diversion_income + scd.merchants_income), 0) sumIncome,
        ifnull(sum(scd.own_cost + scd.diversion_cost + scd.merchants_cost), 0) sumCost,
        ifnull(sum(socd.oil_fee), 0) oilFee,
        ifnull(sum(socd.cash), 0) cash,
        ifnull(sum(socd.toll_fee), 0) tollFee,
        ifnull(sum(socd.subsidy_fee), 0) subsidyFee,
        ifnull(sum(socd.insurance_fee), 0) insuranceFee,
        ifnull(sum(socd.driver_credit_fee), 0) driverCreditFee,
        ifnull(sum(socd.driver_expense_fee), 0) driverExpenseFee,
        ifnull(sum(socd.maintenance_fee), 0) maintenanceFee,
        ifnull(sum(socd.maintain_fee), 0) maintainFee,
        ifnull(sum(socd.parking_fee), 0) parkingFee,
        ifnull(sum(socd.miscellaneous_fee), 0) miscellaneousFee,
        ifnull(sum(socd.vehicle_inspection_fee), 0) vehicleInspectionFee,
        ifnull(sum(socd.vehicle_accident_fee), 0) vehicleAccidentFee,
        ifnull(sum(socd.vehicle_violation_fee), 0) vehicleViolationFee,
        ifnull(sum(socd.employees_credit_fee), 0) employeesCreditFee
        from statement_customer_day scd
        left join statement_own_cost_day socd on scd.id = socd.statement_id
        where
        scd.tenant_id = #{tenantId}
        and socd.type = 2
        <if test="startDate != null and startDate != ''">
            and scd.create_date between #{startDate} and #{endDate}
        </if>
    </select>

    <!--客户日报明细查询-->
    <select id="dailyDetail" resultType="com.youming.youche.table.dto.statistic.StatementDepartmentDetailDto">
        select ifnull(sum(scd.own_income), 0) ownIncome,
        ifnull(sum(scd.own_cost), 0) ownCost,
        ifnull(sum(scd.own_gross_margin), 0) ownGrossMargin,
        ifnull(sum(scd.diversion_income), 0) diversionIncome,
        ifnull(sum(scd.diversion_cost), 0) diversionCost,
        ifnull(sum(scd.diversion_gross_margin), 0) diversionGrossMargin,
        ifnull(sum(scd.merchants_income), 0) merchantsIncome,
        ifnull(sum(scd.merchants_cost), 0) merchantsCost,
        ifnull(sum(scd.merchants_gross_margin), 0) merchantsGrossMargin,
        ifnull(sum(scd.own_income + scd.diversion_income + scd.merchants_income), 0) sumIncome,
        ifnull(sum(scd.own_cost + scd.diversion_cost + scd.merchants_cost), 0) sumCost,
        ifnull(sum(socd.oil_fee), 0) oilFee,
        ifnull(sum(socd.cash), 0) cash,
        ifnull(sum(socd.toll_fee), 0) tollFee,
        ifnull(sum(socd.subsidy_fee), 0) subsidyFee,
        ifnull(sum(socd.insurance_fee), 0) insuranceFee,
        ifnull(sum(socd.driver_credit_fee), 0) driverCreditFee,
        ifnull(sum(socd.driver_expense_fee), 0) driverExpenseFee,
        ifnull(sum(socd.maintenance_fee), 0) maintenanceFee,
        ifnull(sum(socd.maintain_fee), 0) maintainFee,
        ifnull(sum(socd.parking_fee), 0) parkingFee,
        ifnull(sum(socd.miscellaneous_fee), 0) miscellaneousFee,
        ifnull(sum(socd.vehicle_inspection_fee), 0) vehicleInspectionFee,
        ifnull(sum(socd.vehicle_accident_fee), 0) vehicleAccidentFee,
        ifnull(sum(socd.vehicle_violation_fee), 0) vehicleViolationFee,
        ifnull(sum(socd.employees_credit_fee), 0) employeesCreditFee,
        scd.customer_id id,
        cci.company_name name,
        socd.type type
        from statement_customer_day scd
        left join cm_customer_info cci on scd.customer_id = cci.id
        left join statement_own_cost_day socd on scd.id = socd.statement_id
        where scd.tenant_id = #{tenantId}
        and socd.type = 2
        <if test="startDate != null and startDate != ''">
            and scd.create_date between #{startDate} and #{endDate}
        </if>
        group by scd.customer_id
    </select>

    <!--客户报表统计-->
    <select id="queryOrderReceivable" resultType="com.youming.youche.finance.dto.order.OrderInfoDto">
        SELECT
        <include refid="fieldStr"/>
        FROM
        order_info_h o
        LEFT JOIN order_goods_h g ON o.ORDER_ID = g.ORDER_ID
        LEFT JOIN order_scheduler_h s ON o.ORDER_ID = s.ORDER_ID
        LEFT JOIN order_info_ext_h e ON o.order_id = e.order_id
        LEFT JOIN order_fee_h f ON o.ORDER_ID = f.ORDER_ID
        LEFT JOIN order_fee_ext_h ext ON o.order_id = ext.order_id
        LEFT JOIN order_fee_statement_h fs ON o.ORDER_ID = fs.ORDER_ID
        WHERE
        o.TENANT_ID = #{tenantId}
        AND g.CUSTOM_USER_ID =#{customerId}
        AND o.ORDER_STATE = 14
        <if test="startDate != null">
            and s.update_time <![CDATA[ >= ]]> #{startDate}
        </if>
        <if test="endDate != null">
            and s.update_time <![CDATA[ <= ]]> #{endDate}
        </if>
    </select>

    <!--查询车队下所有客户-->
    <select id="queryCustomerId" resultType="com.youming.youche.record.domain.cm.CmCustomerInfo">
        select id           as id,
               company_name as companyName,
               auth_state   as authState,
               state        as state
        from cm_customer_info
        where tenant_id = #{tenantId}
    </select>

    <select id="sumReportCostFee" resultType="com.youming.youche.table.dto.statistic.DepartmentReportCostFeeDto">
        select c.type_name as feeName,ifnull(sum(c.consume_fee),0) as consumeFee
        from order_cost_other_report c
        left join order_goods_h h
        on c.order_id = h.order_id
        where
        h.CUSTOM_USER_ID = #{customerId}
        and
        c.tenant_id = #{tenantId}
        and c.state = 5
        <if test="startTime != null">
            and h.update_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            and h.update_time <![CDATA[ <= ]]> #{endTime}
        </if>
        group by c.type_name
    </select>

    <select id="queryAdvanceCid" resultType="java.lang.Long">
        select ifnull(sum(o.amount), 0) as amount
        from oa_loan o
                 left join order_goods g
                           on o.order_id = g.order_id
                 left join order_goods_h h
                           on o.order_id = h.ORDER_ID
        where o.launch = #{lauach}
          and o.sts in (3, 4, 5)
          and o.tenant_id = #{tenantId}
          and o.verify_date <![CDATA[ >= ]]> #{startDate}
          and o.verify_date <![CDATA[ <= ]]> #{endDate}
          and (g.custom_user_id = #{customerId} or h.CUSTOM_USER_ID = #{customerId})
    </select>

    <sql id="fieldStr">
        o.ORDER_ID AS orderId,
        ifnull(e.payment_way,0) as paymentWay,
        s.DEPEND_TIME AS dependDate,
        g.company_name AS companyName,
        ifnull(f.pre_total_fee,0) as preTotalFee,
        (ifnull(f.final_fee,0) - ifnull(f.insurance_fee,0))+ifnull(f.arrive_payment_fee,0) as finalFee,
        ifnull(f.pre_cash_fee,0) as preCashFee,
        ifnull(f.PRE_OIL_VIRTUAL_FEE,0) as preOilVirtualFee,
        ifnull(ext.pontage,0) as pontagePer,
        ifnull(ext.salary,0) as salary,
        ifnull(f.pre_etc_fee,0) as preEtcFee,
        ifnull(f.PRE_OIL_FEE,0) as preOilFee,
        g.custom_name AS customName,
        s.SOURCE_NAME AS sourceName,
        NULL AS customerId,
        0 AS customerNum,
        o.source_Region AS sourceRegion,
        o.des_Region AS desRegion,
        o.order_Type AS orderType,
        ifnull(f.COST_PRICE,0) AS costPrice,
        ifnull(f.INCOME_EXCEPTION_FEE,0) AS incomeExceptionFee,
        0 AS diffFee,
        ifnull(fs.GET_AMOUNT,0) AS amount,
        fs.BILL_NUMBER AS billNumber,
        NULL AS receiptNumber,
        o.order_state AS orderState,
        fs.finance_Sts AS financeSts,
        ifnull( fs.REAL_INCOME, 0 ) AS realIncome,
        g.CUSTOM_USER_ID AS customUserId,
        s.plate_Number AS plateNumber,
        s.TRAILER_PLATE AS trailerPlate,
        s.car_driver_id as carDriverId,
        o.tenant_Id AS tenantId,
        s.CAR_STATUS AS carStatus,
        s.vehicle_class as vehicleClass,
        o.OP_NAME AS opName,
        f.total_Fee AS totalFee,
        s.CAR_LENGH AS carLengh,
        o.ORG_ID AS orgId,
        o.FROM_ORDER_ID AS fromOrderId,
        NULL AS receiptNumbers,
        IFNULL( f.INSURANCE_FEE, 0 ) AS insuranceFee,
        s.CAR_DEPEND_DATE AS carDependDate,
        s.CAR_START_DATE AS carStartDate,
        s.CAR_ARRIVE_DATE AS carArriveDate,
        CONCAT((
        SELECT
        ssd.CODE_NAME
        FROM
        sys_static_data ssd
        WHERE
        ssd.CODE_TYPE = 'VEHICLE_STATUS'
        AND ssd.CODE_VALUE = s.CAR_STATUS
        ),
        '/',
        s.CAR_LENGH,
        '米'
        ) AS carType,
        CONCAT( IFNULL( g.WEIGHT, 0 ), '吨/', IFNULL( g.SQUARE, 0 ), '方' ) AS goodsInfo,
        g.CUSTOM_NUMBER AS customNumber
    </sql>

    <select id="getTableBossCustomerInfo"
            resultType="com.youming.youche.table.domain.workbench.BossWorkbenchCustomerInfo">
        SELECT sum(a.own_income) + sum(a.diversion_income) + sum(a.merchants_income) AS business_income,
               a.customer_id,
               a.customer_name,
               a.tenant_id
        FROM (
                 SELECT total.*
                 FROM (
                          SELECT (@i := @i + 1) pm,
                                 scd.*
                          FROM statement_customer_day scd,
                               (SELECT @i := 0) t
                          ORDER BY scd.create_time DESC
                      ) AS total
                 GROUP BY total.create_date,
                          total.customer_id,
                          total.tenant_id
             ) AS a
        GROUP BY a.customer_id,
                 a.tenant_id
        ORDER BY a.tenant_id,
                 sum(a.own_income) + sum(a.diversion_income) + sum(a.merchants_income) DESC
    </select>

</mapper>
